{% extends "manager/form_base.html" %}
{% block content %}

	<div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">
		<div class="container-contact100">
			<div class="wrap-contact100">
				<div class="contact100-pic js-tilt" data-tilt>
					<img src="images/img-01.png" alt="IMG">
				</div>

				<form class="contact100-form validate-form">
					<span class="contact100-form-title">
						Get in touch
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Name is required">
						<input class="input100" type="text" name="name" placeholder="Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="phone" placeholder="Teléfono">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
                        <input class="input100" type="email" name="email" placeholder="Email" required>
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							Send
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="body">
    <header id="header">
	<div class="inner">
			<a class="logo">
                {% load static %}
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'manager:show-company' manager_pk %}">Regresar</a></li>
		<li><a href="{% url 'manager:login' %}">Cerrar Sesión</a></li>
	</ul>
</nav>
    <h1>Agregar Centro Deportivo</h1>
<form action="{% url 'manager:new-company' manager_pk %}" method="POST">
        {% csrf_token %}
        <p>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control inputs"  name="name" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Dirección:</label>
            <input type="text" class="form-control inputs"  name="address" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Teléfono:</label>
            <input type="text" class="form-control inputs"  name="phone" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Correo Electrónico:</label>
            <input type="text" class="form-control inputs"  name="email" required>
        </div>
        </p>
        <button type="submit" class="btn btn-outline-success btn-lg">Agregar</button>
    </form>
</div>
</body>
</html>
{% endblock %}