{% extends "manager/base.html" %}
{% block content %}
{% load static %}
        <div id="wrapper">
            <header id="header" class="alt">
                <a href="{% url 'manager:page-manager' manager_pk %}" class="logo"><strong>Sport Center</strong> <span>Administración</span></a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
            <nav id="menu">
                <ul class="links">
                    <li><a href="{% url 'manager:page-manager' manager_pk %}">Inicio</a></li>
                    <li><a href="{% url 'manager:new-company' manager_pk %}">Nuevo Centro Deportivo</a></li>
                </ul>
                <ul class="actions stacked">
                    <li><a href="{% url 'manager:login' %}" class="button primary fit">Cerrar Sesión</a></li>
                </ul>
            </nav>
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="{% static 'images/pic07.jpg' %}" alt="" />
                    </span>
                    <header class="major">
                        <h1>Centros Deportivos</h1>
                    </header>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet nullam consequat<br />
                        sed veroeros. tempus adipiscing nulla.</p>
                    </div>
                </div>
            </section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Sed amet aliquam</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
                                {% for company in company_list %}
								<section>
									<a href="generic.html" class="image">
										<img src="{% static 'images/resultados.jpg' %}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{ company.name }}</h3>
											</header>
											<p>Ubicada en: <strong>{{ company.address }}</strong>
                                                <br>Número Telefónico: <strong>{{ company.phone }}</strong>
                                                <br>Correo Electrónico: <strong>{{ company.email }}</strong>
                                            </p>
                                            <ul class="actions">
												<li><a href="{% url 'manager:edit-company' company.pk %}" class="button">Editar</a></li>
                                                <li><a href="{% url 'manager:delete-company' company.pk %}" class="button primary fit">Eliminar</a></li>

											</ul>
										</div>
									</div>
								</section>
                                {% endfor %}
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>
					</div>
        </div>

{% endblock %}