{% extends "manager/base.html" %}
{% block content %}
{% load static %}
        <div id="wrapper">
            <header id="header" class="alt">
                <a href="{% url 'manager:page-manager' manager_pk %}" class="logo"><strong>Sport Center</strong> <span>Administración</span></a>
                <nav>
                    <a href="#menu">Menu</a>
                </nav>
            </header>
            <nav id="menu">
                <ul class="links">
                    <li><a href="{% url 'manager:page-manager' manager_pk %}">Inicio</a></li>
                    <li><a href="{% url 'manager:new-championship' manager_pk %}">Nuevo Torneo</a></li>
                </ul>
                <ul class="actions stacked">
                    <li><a href="{% url 'manager:login' %}" class="button primary fit">Cerrar Sesión</a></li>
                </ul>
            </nav>
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="{% static 'images/pic07.jpg' %}" alt="" />
                    </span>
                    <header class="major">
                        <h1>Campeonatos</h1>
                    </header>
                    <div class="content">

                    </div>
                </div>
            </section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Información</h2>
									</header>
									<p></p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
                                {% for championship in champ %}
								<section>
									<a class="image">
										<img src="{% static 'images/resultados.jpg' %}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{ championship.name_championship }}</h3>
											</header>
											<p>Centro Deportivo: <strong>{{ championship.championship_company.name }}, {{championship.championship_company.address}}</strong>
                                                <br>Descripción: <strong>{{ championship.description }}</strong>
                                                <br>Precio de Inscripción: <strong>{{ championship.registration_price }}</strong>
                                            </p>
                                            <ul class="actions">
												<li><a href="{% url 'manager:edit-championship' championship.pk %}" class="button">Editar</a></li>
                                                <li><a href="" class="button primary fit">Eliminar</a></li>

											</ul>
										</div>
									</div>
								</section>
                                {% endfor %}
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">

										<h2>Campeonatos: {{ championships }}</h2>
									</header>
									<p>
                                        Campeonatos con Fase de Grupos, eliminatorias directas o de tipo <liga class=""></liga>
									</p>
									<ul class="actions">
										<li><a href="{% url 'manager:show-championship' manager_pk %}" class="button next">Regresar</a></li>
									</ul>
								</div>
							</section>
					</div>
        </div>

{% endblock %}