{% extends "sport/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="body">
    <header id="header">
	<div class="inner">
			<a class="logo">
                {% load static %}
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'sport:show-company' %}">Regresar</a></li>
		<li><a href="">Cerrar Sesión</a></li>
	</ul>
</nav>
    <h1>Agregar Centro Deportivo</h1>
<form action="{% url 'sport:new-company' %}" method="POST">
        {% csrf_token %}
        <p>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control inputs"  name="name" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Dirección:</label>
            <input type="text" class="form-control inputs"  name="address" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Teléfono:</label>
            <input type="text" class="form-control inputs"  name="phone" required>
        </div>
        </p>

        <p>
        <div class="form-group">
            <label>Correo Electrónico:</label>
            <input type="text" class="form-control inputs"  name="email" required>
        </div>
        </p>
        <button type="submit" class="btn btn-outline-success btn-lg">Agregar</button>
    </form>
</div>
</body>
</html>
{% endblock %}