{% extends "sport/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="body">
    <header id="header">
	<div class="inner">
			<a class="logo">
                {% load static %}
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'sport:page' reservation.customer_reserve.pk %}">Inicio</a></li>
		<li><a href="{% url 'sport:show-reservation' reservation.customer_reserve.pk %}">Cancelar</a></li>
	</ul>
</nav>
    <h1>Editar Reservación</h1>
<form action="{% url 'sport:save-reservation' reservation.pk %}" method="POST">
        {% csrf_token %}
        <p>
        <div class="form-group">
            <label>Cliente: {{ reservation.customer_reserve.first_name }} {{ reservation.customer_reserve.last_name }}</label>
                {% if reservation.customer_reserve %}
            <input type="hidden" name="customer" class="form-control" value="{{ reservation.customer_reserve.id }}" readonly>
                {% endif %}
        </div>
        </p>
            <div class="form-group">
            <label>Company:</label>
            <select class="form-control input" name="company">
                {% for company in companies %}
                <option value="{{ company.id }}" {% if company.id ==  company_instance.company_reserve.id  %} selected="selected" {% endif %}>{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
        </p>
       <p>
        <div class="form-group">
            <label>Field:</label>
            <select class="form-control input" name="field">
                {% for field in fields %}
                <option value="{{ field.id }}" {% if field.id ==  field_instance.field_reserve.id  %} selected="selected" {% endif %}>{{ field }}</option>
                {% endfor %}
            </select>
        </div>
        </p>
        <p>
        <div class="form-group">
        {{ reservation.schedule_date }}

            <label>Date to reserve:</label>
                {% if reservation.schedule_date %}
            <input type="date" class="form-control input"  name="schedule_date"  value='{{ reservation.schedule_date|date:"Y-m-d"  }}' required>
                {% endif %}
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Schedule:</label>
            <input type="time" class="form-control input"  name="schedule_time"  value='{{ reservation.schedule_time|time:"H:i" }}' required>
        </div>
        </p>
        <button type="submit" class="btn btn-warning btn-lg">Editar</button>
        <a href="{% url 'sport:show-reservation' reservation.customer_reserve.pk %}"><button type="submit" class="btn btn-danger btn-lg">Cancelar</button></a>
    </form>
</div>
</body>
</html>
{% endblock %}