{% extends "sport/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="body">
    <header id="header">
	<div class="inner">
			<a class="logo">
                {% load static %}
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="">Cancelar</a></li>
		<li><a href="">Cerrar Sesión</a></li>
	</ul>
</nav>
    <h1>Editar Reservación</h1>
<form action="{% url 'sport:save-reservation' reservation.pk %}" method="POST">
        {% csrf_token %}
        <p>
        <div class="form-group">
            <label>Compañía: {{ reservation.company }} </label>
                {% if reservation.company %}
            <input type="hidden" name="company" class="form-control" value="{{ reservation.company.id }}" readonly>
                {% endif %}
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Cliente: {{ reservation.customer_reserve.first_name }} {{ reservation.customer_reserve.last_name }}</label>
                {% if reservation.customer_reserve %}
            <input type="hidden" name="customer" class="form-control" value="{{ reservation.customer_reserve.id }}" readonly>
                {% endif %}
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Tipo de Cancha: {{ reservation.field_reserve.type }}</label>
        <label>Precio: {{ reservation.field_reserve.price }}</label>
            {% if reservation.field_reserve %}
            <input type="hidden" name="field" class="form-control" value="{{ reservation.field_reserve.id }}" readonly>
                {% endif %}
        {{ reservation }}
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Date to reserve:</label>
    {{ reservation.schedule_time }}
                {% if reservation.schedule_date %}
            <input type="text" class="form-control input"  name="schedule_date"  value="{{ reservation.schedule_date }}" required>
                {% endif %}
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Schedule:</label>
            <input type="time" class="form-control input"  name="schedule_time"  value="{{ reservation.schedule_time }}" required>
        </div>
        </p>
        <button type="submit" class="btn btn-warning btn-lg">Editar</button>
        <a href=""><button type="submit" class="btn btn-danger btn-lg">Cancelar</button></a>
    </form>
</div>
</body>
</html>
{% endblock %}