{% extends "sport/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cancha</title>
</head>
<body>
<div id="body">
    <header id="header">
        <div class="inner">
            <a class="logo">
                {% load static %}
                <span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
            </a>
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'sport:show-field' %}">Regresar</a></li>
		<li><a href="">Cerrar Sesión</a></li>
	</ul>
</nav>
    <h1>AÑADIR CANCHA</h1>
<form action="{% url 'sport:new-field' %}" method="POST">
        {% csrf_token %}
        <p>
        <div class="form-group">
            <label>Company:</label>
            <select class="form-control input" name="company">
                {% for company in companies %}
                <option value="{{ company.id }}">{{ company }}</option>
                {% endfor %}
            </select>
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Status</label>
            <select class="form-control input" name="status">
                <option value="R">Reserved</option>
                <option value="A">Available</option>
            </select>
        </div>
        </p>
      <p>
        <div class="form-group">
            <label>Type of Field</label>
            <select class="form-control input" name="type">
                <option value="1">5 Players</option>
                <option value="2">7 Players</option>
                <option value="3">11 Players</option>
            </select>
        </div>
        </p>
        <p>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control input"  name="price" required>
        </div>
        </p>
        <button type="submit" class="btn btn-outline-success btn-lg">Agregar</button>
    </form>
</div>
</body>
</html>
{% endblock %}