{% extends "sport/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compañías</title>
</head>
<body>
<div id="body">
    <header id="header">
	<div class="inner">
			<a class="logo">
                {% load static %}
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<nav id="menu">
	<h2>Menu</h2>
	<ul>
        <li><a href="">Inicio</a></li>
		<li><a href="{% url 'sport:new-company' %}">Agregar Centro Deportivo</a></li>
	</ul>
</nav>
    <h1>Centro Deportivo</h1>
 <table class="table table-bordered table-sm tablesita">
     <thead class="thead-dark thr">
            <tr>
                <th>COMPAÑÍA</th>
                <th>DIRECCIÓN</th>
                <th>TELEFÓNO</th>
                <th>CORREO ELECTRÓNICO</th>
                <th>OPCIONES</th>
            </tr>
      </thead>
            {% for company in company_list %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.phone }}</td>
                <td>{{ company.email }}</td>
                <td>
                    <a href="{% url 'sport:delete-company' company.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
                    <a href="{% url 'sport:edit-company' company.pk %}"><button type="button" class="btn btn-warning">Editar</button></a>
                </td>
            </tr>
            {% endfor %}

        </table>
{% if company_list.has_other_pages %}
  <ul class="pagination">
    {% if company_list.has_previous %}
      <li><a href="?page={{ available.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in company_list.paginator.page_range %}
      {% if company_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if company_list.has_next %}
      <li><a href="?page={{ available.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
</body>
</html>
{% endif %}

{% endblock %}