{% extends "users/base.html" %}
{% block content %}
{% load static %}
<header id="header">
	<div class="inner">
			<a class="logo">
				<span class="symbol"><img src="{% static 'imagess/ball.svg' %}" alt="" /></span><span class="title">Sport Center</span>
			</a>
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>

	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{% url 'sport:page' customer %}">Inicio</a></li>
		<li><a href="{% url 'sport:profile' customer %}">Mi Perfil</a></li>
		<li><a href="{% url 'sport:show-company' %}">Centros Deportivos</a></li>
		<li><a href="{% url 'sport:show-field' %}">Canchas</a></li>
	</ul>
</nav>
{% endblock %}